<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Emergency SOS App</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

  <div class="text-center">
    <h1 class="text-3xl font-bold mb-6 text-red-600">Emergency SOS</h1>

    <button id="sos-btn" class="bg-red-500 hover:bg-red-600 text-white text-xl px-6 py-3 rounded-lg shadow-lg transition">
      🚨 Send SOS
    </button>
    <a href="/history" class="mt-6 inline-block text-blue-600 hover:underline">
        📜 View SOS History
      </a>
      

    <p id="status-msg" class="mt-6 text-lg text-gray-700"></p>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script type="module" src="authentication.js" defer></script>
</body>
</html>