<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="username" placeholder="Enter your username" required/>
        <br>
        <input type="email" id="email" palceholder=" Enter your Email" required/>
        <br>
        <input type="password" id="password" placeholder="enter your password" required/>
        <br>
        <button type ="button">Submit</button>
        <button href="index.html"> Submit</button>

    </form>

    <script src="authentication.js" defer></script>
</body>
</html>

